server:
  port: 8081  # Porta nova para não dar conflito

 #simulaçao do banco pra fazer a interface
spring:
  application:
    name: app
  datasource:
    url: jdbc:postgresql://localhost:5432/app
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect